body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

h1{
    font-size:5.625rem; 
    font-family: 'Roboto', sans-serif;
    margin: 50px auto 0 auto;
    color:#387c6d;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #343f56;
}

h3 {
    color: #4E5C7E;
    font-family: 'Montserrat', sans-serif;
} 
hr{
    border-style: none;
    width: 10%;
    border-top: dotted;
    border-color: #e9896a;
    border-width: 5px;
    margin-top: 30px;
}

.top-container {
    background-color: #E3F2EF;
    padding-top: 80px;
    position: relative;
}
.middle-container {
    background-color: #f8f5f1;
}

.bottom-container {
    background-color: #343f56;    
}
.footer-link{
    color: #f8f5f1;
    margin-bottom: 0;

}
.u-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}
.b-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}
.pp{
width: 200px;
}
.computer{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.phone{
    width: 25%;
    float: right;
    margin-left : 30px;
}
.SEO{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.modern{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.copyright{
    color:#f8f5f1;
    margin-bottom: 0px;
}
.contact-me{
 margin: 50px;
 line-height: 1.5;
}
.button {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #E9896A;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 .button:hover {
    background: #FFFFFF;
    border: solid #E9896A 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    color:#E9896A;
 }

